<!DOCTYPE html>
<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

     <!-- Site Metas -->
    <title>分词新方式-图神经网络分词研究</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="BJTU">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="/static/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/static/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/custom.css">
	<script src="/static/js/modernizr.js"></script> <!-- Modernizr -->



</head>
<body id="page-top" class="politics_version">

    <!-- LOADER -->
    <div id="preloader">
        <div id="main-ld">
			<div id="loader"></div>
		</div>
    </div><!-- end loader -->
    <!-- END LOADER -->

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
			<img class="img-fluid" src="/static/images/logo.png" alt="" />
		</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger active" href="#home">首页</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">背景介绍</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#display">分词演示</a>
            </li>

			<li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#opensource">开源</a>
            </li>


          </ul>
        </div>
      </div>
    </nav>

	<section id="home" class="main-banner parallaxie" style="background-image: url(/static/images/back1.jpg);">
		<div class="heading">
			<h1>基于图神经网络的汉语分词系统</h1>
			<h3 class="cd-headline clip is-full-width">
				<span>Chinese Word Segmentation</span>
				<span class="cd-words-wrapper">
					<b class="is-visible">GCN</b>
					<b>Graph Neural Networks</b>
					<b>pattern recognition</b>

				</span>
				<div class="btn-ber">
					<a class="get_btn hvr-bounce-to-top js-scroll-trigger" href="#display">分词演示</a>
					<a class="learn_btn hvr-bounce-to-top js-scroll-trigger" href="#opensource">开源代码下载</a>
				</div>
			</h3>
		</div>
	</section>

    <div id="about" class="section wb">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="message-box">
                        <h2>基于图神经网络的汉语分词</h2>
						<p>
							近年来，图神经网络(GNN)在社交网络、知识图、推荐系统甚至生命科学等各个领域得到了越来越广泛的应用。GNN在对图节点之间依赖关系进行建模的强大功能，使得与图分析相关的研究领域取得了突破。图神经网络可以应用于基于文本的若干任务。它可以应用于句子级任务（例如文本分类）以及单词级任务（例如汉语分词）。 在自然语言处理技术中，汉语处理技术比外语处理技术要落后很大一段距离，许多外语的处理方法汉语不能直接采用，就是因为汉语必需有分词这道工序。汉语分词是其他汉语信息处理的基础，搜索引擎是汉语分词的一个应用。其他的比如机器翻译（MT）、语音合成、自动分类、自动摘要、自动校对等等，都需要用到分词。 近年来人们对中文分词技术有了一定的研究，提出了多种多样的中文分词算法
						</p>
						<p>
							本项目的目标是构建一套基于图神经网络的汉语分词系统。该项目应用图神经网络技术来设计算法实现汉语自动分词的功能，通过收集数据、数据处理对该系统进行综合测试与完善，并合理解决未登录词识别问题
						</p>


                        <!-- <a href="#" class="sim-btn hvr-bounce-to-top"><span>Contact Us</span></a> -->
                    </div><!-- end messagebox -->
                </div><!-- end col -->

                <div class="col-md-6">
                    <div class="right-box-pro wow fadeIn">
                        <img src="/static/images/about.jpg" alt="" class="img-fluid img-rounded">
                    </div><!-- end media -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->


	<div id="display" class="section db">
        <div class="container">
            <div class="section-title text-center">
                <h3 style="color: #999;">分词演示</h3>
                <p>请在此输入要分词的汉语语句，系统会调用本分词系统进行分词。并在下方显示分词的可视化模拟。</p>
            </div><!-- end title -->

            <div class="row">
                <div class="col-md-12">
                    <div class="contact_form">
                        <div id="message"></div>
                        <form id="contactForm" name="sentMessage" novalidate="novalidate" method="post">
                            {% csrf_token %}
							<div class="row">
								<!-- <div class="col-md-6">
									<div class="form-group">
										<input class="form-control" id="name" type="text" placeholder="需要分词的语句" required="required" data-validation-required-message="Please enter your name.">
										<p class="help-block text-danger"></p>
									</div>
								</div> -->
								<div class="col-md-6">
									<div class="form-group">
										<textarea name="input_text" class="form-control" id="message" placeholder="请输入要分词的语句" required="required" data-validation-required-message="Please enter a message.">{{ input_text }}</textarea>
										<p class="help-block text-danger"></p>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group" >
										<textarea name="show_input" class="form-control" id="message" placeholder="分词结果" required="required" data-validation-required-message="Please enter a message.">{{ result }}</textarea>
										<p class="help-block text-danger"></p>
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="col-lg-12 text-center">
									<div id="success"></div>
									<button onclick="window.location.href = '/GCN_NB/fenci'" id="sendMessageButton" class="sim-btn hvr-bounce-to-top" type="submit">开始分词</button>
								</div>
							</div>
						</form>
                    </div>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
	</div><!-- end section -->

	<div id="opensource" class="section lb">
		<div class="container">
			<div class="section-title text-center">
                <h3>开源</h3>
                <p>您可以下载我们的代码文件，并加入我们的团队同我们一起维护</p>
            </div><!-- end title -->

			<div class="row">
				<div class="col-md-4 col-sm-6 col-lg-4">
					<div class="post-box">
						<div class="post-thumb">
							<img src="/static/images/word.png" class="img-fluid" alt="post-img" />
							<div class="date">
								<span>04</span>
								<span>2021</span>
							</div>
						</div>
						<div class="post-info">
							<h4>语料集</h4>
							<ul>
                                <li>by BJTU</li>
                                <li>04, 2021</li>
                                <!-- <li><a href="#"><b> Comments</b></a></li> -->
                            </ul>
							<p>
								存放项目用来训练模型的所使用的语料集
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-lg-4">
					<div class="post-box">
						<div class="post-thumb">
							<img src="/static/images/about.jpg" class="img-fluid" alt="post-img" />
							<div class="date">
								<span>04</span>
								<span>2021</span>
							</div>
						</div>
						<div class="post-info">
							<h4>模型</h4>
							<ul>
                                <li>by BJTU</li>
                                <li>04, 2021</li>
                                <!-- <li><a href="#"><b> Comments</b></a></li> -->
                            </ul>
							<p>
								存放项目所搭建的模型代码，与使用说明书。
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-lg-4">
					<div class="post-box">
						<div class="post-thumb">
							<img src="/static/images/other.png" class="img-fluid" alt="post-img" />
							<div class="date">
								<span>04</span>
								<span>2021</span>
							</div>
						</div>
						<div class="post-info">
							<h4>其他</h4>
							<ul>
                                <li>by BJTU</li>
                                <li>04, 2021</li>
                                <!-- <li><a href="#"><b> Comments</b></a></li> -->
                            </ul>
							<p>
								存放其他项目用到的文件。
							</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>








    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="/static/js/all.js"></script>
	<!-- Camera Slider -->
	<script src="/static/js/jquery.mobile.customized.min.js"></script>
	<script src="/static/js/jquery.easing.1.3.js"></script>
	<script src="/static/js/parallaxie.js"></script>
	<script src="/static/js/headline.js"></script>
	<!-- Contact form JavaScript -->
    <script src="/static/js/jqBootstrapValidation.js"></script>
    <script src="/static/js/contact_me.js"></script>
    <!-- ALL PLUGINS -->
    <script src="/static/js/custom.js"></script>
    <script src="/static/js/jquery.vide.js"></script>
    <script>
        
        $("#sendMessageButton").ready(function(){
            
            window.location.hash = "#display";
        });
    </script>
<style>
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
</style>

</body>
</html>